{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div class="row">
            <div class="alert alert-primary" role="alert">
                User | List
            </div>
        </div>
        <div class="row">
            <ul>
                {% for user in users %}
                    <li>{{ user.id }} | {{ user.name }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}