{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div class="row">
            <div class="alert alert-primary" role="alert">
                Create New User
            </div>
        </div>

        <div class="row">
            <div class="form-appears">
                <form name="form_contact" method="POST" action="#">
                    {{ form_start(form) }}

                        {{ form_widget(form) }}

                    {{ form_end(form) }}
                </form>
            </div>
        </div>

    </div>

{% endblock %}